.dropdown-container {
    text-align: left;
    border: 1px solid #ccc;
    position: relative;
    border-radius: 5px;
    width: 12rem;
    left: 1rem;
  }

.dropdown-container2{
    text-align: left;
    border: 1px solid #ccc;
    position: relative;
    border-radius: 5px;
    width: 12rem;
    left: 1rem;
}
  
  .dropdown-input {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
  }

  .dropdown-menu{
    position: absolute;
    transform: translateY(4px);
    width: 192px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    max-height: 150px;
    background-color: #fff;
    top: 30px;
    left: -1px;
  }

  .dropdown-item.selected {
    background-color: #0d6efd;
    color: #fff;
}

.dropdown-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.dropdown-tag-item {
    background-color: #ddd;
    padding: 2px 4px;
    border-radius: 2px;
    display: flex;
    align-items: center;
}
.dropdown-tag-close {
    display: flex;
    align-items: center;
}

.dropdowns{
    display: flex;
    width: 100%;
}

.form-error {
    font-size: 9px;
    color: #b22b27;
    width: 20%;
    margin-left: 16rem;
    margin-top: -1rem;
  }

  .form-error-gender {
    font-size: 9px;
    color: #b22b27;
    width: 20%;
    margin-left: 18rem;
    margin-top: -1rem;
  }

  .form-error-dropdown{
    font-size: 9px;
    color: #b22b27;
    width: 20%;
    margin-left: 1rem;
    /* margin-top: -1rem; */
  }

  .single-drop-p{
    margin-left: 3rem;
  }